<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtClassMesurementMapper">
    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.DO.PtClassMesurement">
        <!--@mbg.generated-->
        <!--@Table pt_class_measurement-->
        <id column="cms_id" property="cmsId"/>
        <result column="ms_id" property="msId"/>
        <result column="cls_code" property="clsCode"/>
        <result column="cms_created" property="cmsCreated"/>
        <result column="cms_modified" property="cmsModified"/>
        <result column="cms_created_admin" property="cmsCreatedAdmin"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        cms_id, ms_id, cls_code, cms_created, cms_modified, cms_created_admin
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from pt_class_measurement
        where cms_id = #{cmsId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from pt_class_measurement
        where cms_id = #{cmsId}
    </delete>
    <insert id="insert" keyColumn="cms_id" keyProperty="cmsId"
            parameterType="com.rufeng.healthman.pojo.DO.PtClassMesurement" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_class_measurement (ms_id, cls_code, cms_created, cms_modified, cms_created_admin)
        values (#{msId}, #{clsCode}, #{cmsCreated}, #{cmsModified}, #{cmsCreatedAdmin})
    </insert>
    <insert id="insertSelective" keyColumn="cms_id" keyProperty="cmsId"
            parameterType="com.rufeng.healthman.pojo.DO.PtClassMesurement" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_class_measurement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msId != null">
                ms_id,
            </if>
            <if test="clsCode != null">
                cls_code,
            </if>
            <if test="cmsCreated != null">
                cms_created,
            </if>
            <if test="cmsModified != null">
                cms_modified,
            </if>
            <if test="cmsCreatedAdmin != null">
                cms_created_admin,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msId != null">
                #{msId},
            </if>
            <if test="clsCode != null">
                #{clsCode},
            </if>
            <if test="cmsCreated != null">
                #{cmsCreated},
            </if>
            <if test="cmsModified != null">
                #{cmsModified},
            </if>
            <if test="cmsCreatedAdmin != null">
                #{cmsCreatedAdmin},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rufeng.healthman.pojo.DO.PtClassMesurement">
        <!--@mbg.generated-->
        update pt_class_measurement
        <set>
            <if test="msId != null">
                ms_id = #{msId},
            </if>
            <if test="clsCode != null">
                cls_code = #{clsCode},
            </if>
            <if test="cmsCreated != null">
                cms_created = #{cmsCreated},
            </if>
            <if test="cmsModified != null">
                cms_modified = #{cmsModified},
            </if>
            <if test="cmsCreatedAdmin != null">
                cms_created_admin = #{cmsCreatedAdmin},
            </if>
        </set>
        where cms_id = #{cmsId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rufeng.healthman.pojo.DO.PtClassMesurement">
        <!--@mbg.generated-->
        update pt_class_measurement
        set ms_id             = #{msId},
            cls_code          = #{clsCode},
            cms_created       = #{cmsCreated},
            cms_modified      = #{cmsModified},
            cms_created_admin = #{cmsCreatedAdmin}
        where cms_id = #{cmsId}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update pt_class_measurement
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="ms_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when cms_id = #{item.cmsId} then #{item.msId}
                </foreach>
            </trim>
            <trim prefix="cls_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when cms_id = #{item.cmsId} then #{item.clsCode}
                </foreach>
            </trim>
            <trim prefix="cms_created = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when cms_id = #{item.cmsId} then #{item.cmsCreated}
                </foreach>
            </trim>
            <trim prefix="cms_modified = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when cms_id = #{item.cmsId} then #{item.cmsModified}
                </foreach>
            </trim>
            <trim prefix="cms_created_admin = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when cms_id = #{item.cmsId} then #{item.cmsCreatedAdmin}
                </foreach>
            </trim>
        </trim>
        where cms_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.cmsId}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update pt_class_measurement
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="ms_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.msId != null">
                        when cms_id = #{item.cmsId} then #{item.msId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cls_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.clsCode != null">
                        when cms_id = #{item.cmsId} then #{item.clsCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cms_created = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.cmsCreated != null">
                        when cms_id = #{item.cmsId} then #{item.cmsCreated}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cms_modified = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.cmsModified != null">
                        when cms_id = #{item.cmsId} then #{item.cmsModified}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cms_created_admin = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.cmsCreatedAdmin != null">
                        when cms_id = #{item.cmsId} then #{item.cmsCreatedAdmin}
                    </if>
                </foreach>
            </trim>
        </trim>
        where cms_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.cmsId}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="cms_id" keyProperty="cmsId" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_class_measurement
            (ms_id, cls_code, cms_created, cms_modified, cms_created_admin)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.msId}, #{item.clsCode}, #{item.cmsCreated}, #{item.cmsModified}, #{item.cmsCreatedAdmin})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="cms_id" keyProperty="cmsId"
            parameterType="com.rufeng.healthman.pojo.DO.PtClassMesurement" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_class_measurement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cmsId != null">
                cms_id,
            </if>
            ms_id,
            cls_code,
            cms_created,
            cms_modified,
            cms_created_admin,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cmsId != null">
                #{cmsId},
            </if>
            #{msId},
            #{clsCode},
            #{cmsCreated},
            #{cmsModified},
            #{cmsCreatedAdmin},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="cmsId != null">
                cms_id = #{cmsId},
            </if>
            ms_id             = #{msId},
            cls_code          = #{clsCode},
            cms_created       = #{cmsCreated},
            cms_modified      = #{cmsModified},
            cms_created_admin = #{cmsCreatedAdmin},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="cms_id" keyProperty="cmsId"
            parameterType="com.rufeng.healthman.pojo.DO.PtClassMesurement" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_class_measurement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cmsId != null">
                cms_id,
            </if>
            <if test="msId != null">
                ms_id,
            </if>
            <if test="clsCode != null">
                cls_code,
            </if>
            <if test="cmsCreated != null">
                cms_created,
            </if>
            <if test="cmsModified != null">
                cms_modified,
            </if>
            <if test="cmsCreatedAdmin != null">
                cms_created_admin,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cmsId != null">
                #{cmsId},
            </if>
            <if test="msId != null">
                #{msId},
            </if>
            <if test="clsCode != null">
                #{clsCode},
            </if>
            <if test="cmsCreated != null">
                #{cmsCreated},
            </if>
            <if test="cmsModified != null">
                #{cmsModified},
            </if>
            <if test="cmsCreatedAdmin != null">
                #{cmsCreatedAdmin},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="cmsId != null">
                cms_id = #{cmsId},
            </if>
            <if test="msId != null">
                ms_id = #{msId},
            </if>
            <if test="clsCode != null">
                cls_code = #{clsCode},
            </if>
            <if test="cmsCreated != null">
                cms_created = #{cmsCreated},
            </if>
            <if test="cmsModified != null">
                cms_modified = #{cmsModified},
            </if>
            <if test="cmsCreatedAdmin != null">
                cms_created_admin = #{cmsCreatedAdmin},
            </if>
        </trim>
    </insert>

    <insert id="batchInsertSelective">
        INSERT INTO pt_class_measurement (ms_id, cls_code, cms_created_admin) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.msId}, #{item.clsCode}, #{item.cmsCreatedAdmin})
        </foreach>
    </insert>

    <delete id="deleteByMsId">
        DELETE
        FROM pt_class_measurement
        WHERE ms_id = #{msId}
    </delete>

    <resultMap id="ClassMeasurementMap" type="com.rufeng.healthman.pojo.m2m.PtMeasurementClass">
        <id property="msId" column="ms_id"/>
        <collection property="classes" ofType="com.rufeng.healthman.pojo.DO.PtClass" autoMapping="true">
            <id property="clsCode" column="cls_code"/>
        </collection>
    </resultMap>
    <select id="listClsMeasurementByMsIds" resultMap="ClassMeasurementMap">
        SELECT cls_id,
               pt_class.cls_code,
               cls_name,
               clg_code,
               cls_entry_grade,
               cls_entry_year,
               cls_created,
               cls_modified,
               ms_id
        FROM pt_class
                 LEFT JOIN pt_class_measurement pcm on pt_class.cls_code = pcm.cls_code
        <where>
            <foreach collection="list" item="item" close=")" open="ms_id IN (" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="listClsMeasurementByMsId" resultType="com.rufeng.healthman.pojo.DO.PtClass">
        SELECT cls_id,
               pt_class.cls_code,
               cls_name,
               clg_code,
               cls_entry_grade,
               cls_entry_year,
               cls_created,
               cls_modified
        FROM pt_class
                 LEFT JOIN pt_class_measurement pcm on pt_class.cls_code = pcm.cls_code
        WHERE ms_id = #{msId}
    </select>
</mapper>