<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtCollegeMapper">

    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.DO.PtCollege">
        <id property="clgCode" column="clg_code" jdbcType="VARCHAR"/>
        <result property="clgId" column="clg_id" jdbcType="BIGINT"/>
        <result property="clgName" column="clg_name" jdbcType="VARCHAR"/>
        <result property="clgPrincipal" column="clg_principal" jdbcType="VARCHAR"/>
        <result property="clgOffice" column="clg_office" jdbcType="VARCHAR"/>
        <result property="clgTel" column="clg_tel" jdbcType="VARCHAR"/>
        <result property="clgHome" column="clg_home" jdbcType="VARCHAR"/>
        <result property="clgCreated" column="clg_created" jdbcType="TIMESTAMP"/>
        <result property="clgModified" column="clg_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        clg_code,clg_id,clg_name,
        clg_principal,clg_office,clg_tel,
        clg_home,clg_created,clg_modified
    </sql>
    <insert id="insertBatch">
        INSERT INTO pt_college (clg_code, clg_name, clg_principal, clg_office, clg_tel, clg_home) VALUES
        <foreach collection="items" separator="," item="item">
            (#{item.clgCode}, #{item.clgName}, #{item.clgPrincipal}, #{item.clgOffice}, #{item.clgTel}, #{item.clgHome})
        </foreach>
    </insert>

    <select id="listCollege" resultType="com.rufeng.healthman.pojo.DO.PtCollege">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pt_college;
    </select>
    <select id="getCollege" resultType="com.rufeng.healthman.pojo.DO.PtCollege">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pt_college WHERE clg_code = #{clgCode}
    </select>
</mapper>
