<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtCollegeMapper">

    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.DO.PtCollege">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="principal" column="principal" jdbcType="VARCHAR"/>
            <result property="office" column="office" jdbcType="VARCHAR"/>
            <result property="tel" column="tel" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="lastModifyTime" column="last_modify_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,principal,
        office,tel,created_time,
        last_modify_time,deleted
    </sql>
</mapper>
