<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtMeasurementMapper">
  <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.DO.PtMeasurement">
    <!--@mbg.generated-->
    <!--@Table pt_measurement-->
    <id column="ms_id" property="msId" />
    <result column="ms_name" property="msName" />
    <result column="ms_desp" property="msDesp" />
    <result column="ms_created" property="msCreated" />
    <result column="ms_modified" property="msModified" />
    <result column="sgp_id" property="sgpId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ms_id, ms_name, ms_desp, ms_created, ms_modified, sgp_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pt_measurement
    where ms_id = #{msId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pt_measurement
    where ms_id = #{msId}
  </delete>
  <insert id="insert" keyColumn="ms_id" keyProperty="msId" parameterType="com.rufeng.healthman.pojo.DO.PtMeasurement" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_measurement (ms_name, ms_desp, ms_created, ms_modified, sgp_id)
    values (#{msName}, #{msDesp}, #{msCreated}, #{msModified}, #{sgpId})
  </insert>
  <insert id="insertSelective" keyColumn="ms_id" keyProperty="msId" parameterType="com.rufeng.healthman.pojo.DO.PtMeasurement" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_measurement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msName != null">
        ms_name,
      </if>
      <if test="msDesp != null">
        ms_desp,
      </if>
      <if test="msCreated != null">
        ms_created,
      </if>
      <if test="msModified != null">
        ms_modified,
      </if>
      <if test="sgpId != null">
        sgp_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msName != null">
        #{msName},
      </if>
      <if test="msDesp != null">
        #{msDesp},
      </if>
      <if test="msCreated != null">
        #{msCreated},
      </if>
      <if test="msModified != null">
        #{msModified},
      </if>
      <if test="sgpId != null">
        #{sgpId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rufeng.healthman.pojo.DO.PtMeasurement">
    <!--@mbg.generated-->
    update pt_measurement
    <set>
      <if test="msName != null">
        ms_name = #{msName},
      </if>
      <if test="msDesp != null">
        ms_desp = #{msDesp},
      </if>
      <if test="msCreated != null">
        ms_created = #{msCreated},
      </if>
      <if test="msModified != null">
        ms_modified = #{msModified},
      </if>
      <if test="sgpId != null">
        sgp_id = #{sgpId},
      </if>
    </set>
    where ms_id = #{msId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rufeng.healthman.pojo.DO.PtMeasurement">
    <!--@mbg.generated-->
    update pt_measurement
    set ms_name = #{msName},
      ms_desp = #{msDesp},
      ms_created = #{msCreated},
      ms_modified = #{msModified},
      sgp_id = #{sgpId}
    where ms_id = #{msId}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pt_measurement
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ms_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ms_id = #{item.msId} then #{item.msName}
        </foreach>
      </trim>
      <trim prefix="ms_desp = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ms_id = #{item.msId} then #{item.msDesp}
        </foreach>
      </trim>
      <trim prefix="ms_created = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ms_id = #{item.msId} then #{item.msCreated}
        </foreach>
      </trim>
      <trim prefix="ms_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ms_id = #{item.msId} then #{item.msModified}
        </foreach>
      </trim>
      <trim prefix="sgp_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when ms_id = #{item.msId} then #{item.sgpId}
        </foreach>
      </trim>
    </trim>
    where ms_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.msId}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pt_measurement
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="ms_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.msName != null">
            when ms_id = #{item.msId} then #{item.msName}
          </if>
        </foreach>
      </trim>
      <trim prefix="ms_desp = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.msDesp != null">
            when ms_id = #{item.msId} then #{item.msDesp}
          </if>
        </foreach>
      </trim>
      <trim prefix="ms_created = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.msCreated != null">
            when ms_id = #{item.msId} then #{item.msCreated}
          </if>
        </foreach>
      </trim>
      <trim prefix="ms_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.msModified != null">
            when ms_id = #{item.msId} then #{item.msModified}
          </if>
        </foreach>
      </trim>
      <trim prefix="sgp_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sgpId != null">
            when ms_id = #{item.msId} then #{item.sgpId}
          </if>
        </foreach>
      </trim>
    </trim>
    where ms_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.msId}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="ms_id" keyProperty="msId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_measurement
    (ms_name, ms_desp, ms_created, ms_modified, sgp_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.msName}, #{item.msDesp}, #{item.msCreated}, #{item.msModified}, #{item.sgpId}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="ms_id" keyProperty="msId" parameterType="com.rufeng.healthman.pojo.DO.PtMeasurement" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_measurement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msId != null">
        ms_id,
      </if>
      ms_name,
      ms_desp,
      ms_created,
      ms_modified,
      sgp_id,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msId != null">
        #{msId},
      </if>
      #{msName},
      #{msDesp},
      #{msCreated},
      #{msModified},
      #{sgpId},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="msId != null">
        ms_id = #{msId},
      </if>
      ms_name = #{msName},
      ms_desp = #{msDesp},
      ms_created = #{msCreated},
      ms_modified = #{msModified},
      sgp_id = #{sgpId},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="ms_id" keyProperty="msId" parameterType="com.rufeng.healthman.pojo.DO.PtMeasurement" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_measurement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msId != null">
        ms_id,
      </if>
      <if test="msName != null">
        ms_name,
      </if>
      <if test="msDesp != null">
        ms_desp,
      </if>
      <if test="msCreated != null">
        ms_created,
      </if>
      <if test="msModified != null">
        ms_modified,
      </if>
      <if test="sgpId != null">
        sgp_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msId != null">
        #{msId},
      </if>
      <if test="msName != null">
        #{msName},
      </if>
      <if test="msDesp != null">
        #{msDesp},
      </if>
      <if test="msCreated != null">
        #{msCreated},
      </if>
      <if test="msModified != null">
        #{msModified},
      </if>
      <if test="sgpId != null">
        #{sgpId},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="msId != null">
        ms_id = #{msId},
      </if>
      <if test="msName != null">
        ms_name = #{msName},
      </if>
      <if test="msDesp != null">
        ms_desp = #{msDesp},
      </if>
      <if test="msCreated != null">
        ms_created = #{msCreated},
      </if>
      <if test="msModified != null">
        ms_modified = #{msModified},
      </if>
      <if test="sgpId != null">
        sgp_id = #{sgpId},
      </if>
    </trim>
  </insert>
</mapper>