<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtRoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.ptdo.PtRoleResource">
    <!--@mbg.generated-->
    <!--@Table pt_role_resource-->
    <id column="id" property="id" />
    <result column="role_id" property="roleId" />
    <result column="res_id" property="resId" />
    <result column="created" property="created" />
    <result column="modified" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, res_id, created, modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pt_role_resource
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pt_role_resource
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleResource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_role_resource (role_id, res_id, created, modified)
    values (#{roleId}, #{resId}, #{created}, #{modified})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleResource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_role_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="resId != null">
        res_id,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modified != null">
        modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="resId != null">
        #{resId},
      </if>
      <if test="created != null">
        #{created},
      </if>
      <if test="modified != null">
        #{modified},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleResource">
    <!--@mbg.generated-->
    update pt_role_resource
    <set>
      <if test="roleId != null">
        role_id = #{roleId},
      </if>
      <if test="resId != null">
        res_id = #{resId},
      </if>
      <if test="created != null">
        created = #{created},
      </if>
      <if test="modified != null">
        modified = #{modified},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleResource">
    <!--@mbg.generated-->
    update pt_role_resource
    set role_id = #{roleId},
      res_id = #{resId},
      created = #{created},
      modified = #{modified}
    where id = #{id}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pt_role_resource
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="role_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.roleId}
        </foreach>
      </trim>
      <trim prefix="res_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.resId}
        </foreach>
      </trim>
      <trim prefix="created = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.created}
        </foreach>
      </trim>
      <trim prefix="modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.modified}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pt_role_resource
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="role_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.roleId != null">
            when id = #{item.id} then #{item.roleId}
          </if>
        </foreach>
      </trim>
      <trim prefix="res_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.resId != null">
            when id = #{item.id} then #{item.resId}
          </if>
        </foreach>
      </trim>
      <trim prefix="created = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.created != null">
            when id = #{item.id} then #{item.created}
          </if>
        </foreach>
      </trim>
      <trim prefix="modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.modified != null">
            when id = #{item.id} then #{item.modified}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_role_resource
    (role_id, res_id, created, modified)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.roleId}, #{item.resId}, #{item.created}, #{item.modified})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleResource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_role_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      role_id,
      res_id,
      created,
      modified,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      #{roleId},
      #{resId},
      #{created},
      #{modified},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      role_id = #{roleId},
      res_id = #{resId},
      created = #{created},
      modified = #{modified},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleResource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_role_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="resId != null">
        res_id,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modified != null">
        modified,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="resId != null">
        #{resId},
      </if>
      <if test="created != null">
        #{created},
      </if>
      <if test="modified != null">
        #{modified},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="roleId != null">
        role_id = #{roleId},
      </if>
      <if test="resId != null">
        res_id = #{resId},
      </if>
      <if test="created != null">
        created = #{created},
      </if>
      <if test="modified != null">
        modified = #{modified},
      </if>
    </trim>
  </insert>
</mapper>