<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtRoleOperMapper">
    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.ptdo.PtRoleOper">
        <!--@mbg.generated-->
        <!--@Table pt_role_oper-->
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="oper_id" property="operId"/>
        <result column="created" property="created"/>
        <result column="modified" property="modified"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, role_id, oper_id, created, modified
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from pt_role_oper
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from pt_role_oper
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleOper"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_role_oper (role_id, oper_id, created, modified)
        values (#{roleId}, #{operId}, #{created}, #{modified})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleOper" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_role_oper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="operId != null">
                oper_id,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified != null">
                modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="operId != null">
                #{operId},
            </if>
            <if test="created != null">
                #{created},
            </if>
            <if test="modified != null">
                #{modified},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleOper">
        <!--@mbg.generated-->
        update pt_role_oper
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="operId != null">
                oper_id = #{operId},
            </if>
            <if test="created != null">
                created = #{created},
            </if>
            <if test="modified != null">
                modified = #{modified},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleOper">
        <!--@mbg.generated-->
        update pt_role_oper
        set role_id  = #{roleId},
            oper_id  = #{operId},
            created  = #{created},
            modified = #{modified}
        where id = #{id}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update pt_role_oper
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="role_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.roleId}
                </foreach>
            </trim>
            <trim prefix="oper_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.operId}
                </foreach>
            </trim>
            <trim prefix="created = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.created}
                </foreach>
            </trim>
            <trim prefix="modified = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id} then #{item.modified}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update pt_role_oper
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="role_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.roleId != null">
                        when id = #{item.id} then #{item.roleId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="oper_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.operId != null">
                        when id = #{item.id} then #{item.operId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="created = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.created != null">
                        when id = #{item.id} then #{item.created}
                    </if>
                </foreach>
            </trim>
            <trim prefix="modified = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.modified != null">
                        when id = #{item.id} then #{item.modified}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_role_oper
            (role_id, oper_id, created, modified)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.operId}, #{item.created}, #{item.modified})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id"
            parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleOper" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_role_oper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            role_id,
            oper_id,
            created,
            modified,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            #{roleId},
            #{operId},
            #{created},
            #{modified},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            role_id  = #{roleId},
            oper_id  = #{operId},
            created  = #{created},
            modified = #{modified},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="com.rufeng.healthman.pojo.ptdo.PtRoleOper" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_role_oper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="operId != null">
                oper_id,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified != null">
                modified,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
            <if test="operId != null">
                #{operId},
            </if>
            <if test="created != null">
                #{created},
            </if>
            <if test="modified != null">
                #{modified},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="operId != null">
                oper_id = #{operId},
            </if>
            <if test="created != null">
                created = #{created},
            </if>
            <if test="modified != null">
                modified = #{modified},
            </if>
        </trim>
    </insert>

    <select id="listOperIdByRoleIds" resultType="java.lang.String">
        SELECT oper_id
        FROM pt_role_oper
        <where>
            <foreach collection="list" separator="," open="role_id IN (" item="item" close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <resultMap id="PtRoleOperationMap" type="com.rufeng.healthman.pojo.m2m.PtRoleOperation">
        <id property="roleId" column="role_id"/>
        <collection property="operations" ofType="com.rufeng.healthman.pojo.ptdo.PtOperation">
        </collection>
    </resultMap>
    <select id="listRoleOperByRoleIds" resultMap="PtRoleOperationMap">
        SELECT role_id,
               po.oper_id,
               po.oper_name,
               po.pid,
               po.oper_desp,
               po.oper_summary,
               pt_role_oper.created
        FROM pt_role_oper
                 LEFT JOIN pt_operation po on pt_role_oper.oper_id = po.oper_id
        WHERE role_id IN(
        <foreach collection="list" separator="," item="item">
            #{item}
        </foreach>)
    </select>
</mapper>