<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtScoreSheetMapper">
    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.DO.PtScoreSheet">
        <id property="subjectId" column="subject_id" jdbcType="BIGINT"/>
        <id property="gender" column="gender" jdbcType="CHAR"/>
        <id property="grade" column="grade" jdbcType="OTHER"/>
        <id property="upper" column="upper" jdbcType="DECIMAL"/>
        <id property="lower" column="lower" jdbcType="DECIMAL"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="lastModifyTime" column="last_modify_time" jdbcType="TIMESTAMP"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        subject_id,
        gender,
        grade,
        upper,
        lower,
        score,
        created_time,
        last_modify_time,
        level,
        id
    </sql>

    <sql id="Query_SubjectId">
        <if test="query.subjectId != null">
            AND subject_id = #{query.subjectId}
        </if>
    </sql>

    <sql id="Query_Gender">
        <if test="query.gender != null">
            AND gender = #{query.gender}
        </if>
    </sql>

    <sql id="Query_Grade">
        <if test="query.grade != null">
            AND grade = #{query.grade}
        </if>
    </sql>

    <sql id="Query_Interval">
        <if test="query.upper != null and query.lower != null">
            AND upper &gt; #{query.upper} AND lower &lt;= #{query.lower}
        </if>
    </sql>


    <select id="listScoreSheet" resultType="com.rufeng.healthman.pojo.DO.PtScoreSheet">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pt_score_sheet
        WHERE grade = #{query.grade}
          AND subject_id = #{query.subjectId}
        ORDER BY score DESC
    </select>

    <insert id="insertBatch">
        INSERT INTO pt_score_sheet (subject_id, grade, gender, upper, lower, score, level)
                VALUES
        <foreach collection="items" separator="," item="item">
            (#{item.subjectId}, #{item.grade.value}, #{item.gender}, #{item.upper}, #{item.lower}, #{item.score},
             #{item.level})
        </foreach>
    </insert>
</mapper>
