<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtScoreMapper">

    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.DO.PtScore">
            <id property="stuNo" column="stu_no" jdbcType="BIGINT"/>
            <id property="subjectId" column="subject_id" jdbcType="BIGINT"/>
            <id property="year" column="year" jdbcType="OTHER"/>
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="data" column="data" jdbcType="DECIMAL"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="lastModifyTime" column="last_modify_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        stu_no,subject_id,year,
        data,score,
        created_time,last_modify_time,deleted
    </sql>
</mapper>
