<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtStudentMapper">

    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.DO.PtStudent">
        <id property="number" column="number" jdbcType="BIGINT"/>
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="gender" column="gender" jdbcType="CHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="collegeId" column="college_id" jdbcType="BIGINT"/>
        <result property="majorCode" column="major_code" jdbcType="VARCHAR"/>
        <result property="classCode" column="class_code" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="lastModifyTime" column="last_modify_time" jdbcType="TIMESTAMP"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="CHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        number,name,phone,email,
        birthday,gender,password,
        avatar,college_id,major_code,
        class_code,created_time,last_modify_time,
        last_login_time,desp
    </sql>
    <sql id="Query_Number">
        <if test="query.number != null">
            AND number = #{query.number}
        </if>
    </sql>
    <sql id="Query_CollegeId">
        <if test="query.collegeId != null">
            AND college_id = #{query.collegeId}
        </if>
    </sql>
    <sql id="Query_Name">
        <if test="query.name != null">
            AND name = #{query.name}
        </if>
    </sql>
    <sql id="Query_Gender">
        <if test="query.gender != null">
            AND gender = #{query.gender}
        </if>
    </sql>
    <sql id="Query_ClassCode">
        <if test="query.classCode != null">
            AND class_code = #{query.classCode}
        </if>
    </sql>
    <sql id="Query_MajorCode">
        <if test="query.majorCode != null">
            AND major_code = #{query.majorCode}
        </if>
    </sql>

    <sql id="OrderBy">
        <if test="query.order != null and query.field != null">
            ORDER BY ${query.field} ${query.order}
        </if>
    </sql>

    <sql id="Query_All">
        <include refid="Query_Number"/>
        <include refid="Query_Name"/>
        <include refid="Query_Gender"/>
        <include refid="Query_CollegeId"/>
        <include refid="Query_MajorCode"/>
        <include refid="Query_ClassCode"/>
    </sql>


    <update id="updateStudentByKey">
        UPDATE pt_student
        <set>
            <if test="stu.name != null">username=#{stu.name},</if>
            <if test="stu.password != null">password=#{stu.password},</if>
            <if test="stu.avatar != null">avatar=#{stu.avatar},</if>
            <if test="stu.lastLoginTime != null">last_login_time=#{stu.lastLoginTime},</if>
            <if test="stu.lastModifyTime != null">last_modify_time=#{stu.lastModifyTime},</if>
            <if test="stu.desp != null">desp=#{stu.desp},</if>
            <if test="stu.gender != null">gender=#{stu.gender},</if>
            <if test="stu.birthday != null">birthday=#{stu.birthday},</if>
        </set>
        where number=#{stu.number}
    </update>
    <select id="getStudent" resultType="com.rufeng.healthman.pojo.DO.PtStudent">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pt_student WHERE number = #{number}
    </select>
    <select id="pageStudent" resultType="com.rufeng.healthman.pojo.DO.PtStudent">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pt_student
        <where>
            <include refid="Query_All"/>
        </where>
        <include refid="OrderBy"/>
    </select>
</mapper>
