<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtSubjectMapper">

    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.DO.PtSubject">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="desp" column="desp" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="lastModifyTime" column="last_modify_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,desp,
        created_time,last_modify_time
    </sql>
    <select id="listSubject" resultType="com.rufeng.healthman.pojo.DO.PtSubject">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pt_subject
    </select>
</mapper>
