<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtSubgroupMapper">
    <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.ptdo.PtSubgroup">
        <!--@mbg.generated-->
        <!--@Table pt_subgroup-->
        <id column="grp_id" property="grpId"/>
        <result column="grp_name" property="grpName"/>
        <result column="grp_desp" property="grpDesp"/>
        <result column="grp_created" property="grpCreated"/>
        <result column="grp_created_tea_id" property="grpCreatedTeaId"/>
        <result column="grp_modified" property="grpModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        grp_id, grp_name, grp_desp, grp_created, grp_created_tea_id, grp_modified
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from pt_subgroup
        where grp_id = #{grpId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from pt_subgroup
        where grp_id = #{grpId}
    </delete>
    <insert id="insert" keyColumn="grp_id" keyProperty="grpId" parameterType="com.rufeng.healthman.pojo.ptdo.PtSubgroup"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_subgroup (grp_name, grp_desp, grp_created, grp_created_tea_id, grp_modified)
        values (#{grpName}, #{grpDesp}, #{grpCreated}, #{grpCreatedTeaId}, #{grpModified})
    </insert>
    <insert id="insertSelective" keyColumn="grp_id" keyProperty="grpId"
            parameterType="com.rufeng.healthman.pojo.ptdo.PtSubgroup" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_subgroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grpName != null">
                grp_name,
            </if>
            <if test="grpDesp != null">
                grp_desp,
            </if>
            <if test="grpCreated != null">
                grp_created,
            </if>
            <if test="grpCreatedTeaId != null">
                grp_created_tea_id,
            </if>
            <if test="grpModified != null">
                grp_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="grpName != null">
                #{grpName},
            </if>
            <if test="grpDesp != null">
                #{grpDesp},
            </if>
            <if test="grpCreated != null">
                #{grpCreated},
            </if>
            <if test="grpCreatedTeaId != null">
                #{grpCreatedTeaId},
            </if>
            <if test="grpModified != null">
                #{grpModified},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.rufeng.healthman.pojo.ptdo.PtSubgroup">
        <!--@mbg.generated-->
        update pt_subgroup
        <set>
            <if test="grpName != null">
                grp_name = #{grpName},
            </if>
            <if test="grpDesp != null">
                grp_desp = #{grpDesp},
            </if>
            <if test="grpCreated != null">
                grp_created = #{grpCreated},
            </if>
            <if test="grpCreatedTeaId != null">
                grp_created_tea_id = #{grpCreatedTeaId},
            </if>
            <if test="grpModified != null">
                grp_modified = #{grpModified},
            </if>
        </set>
        where grp_id = #{grpId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.rufeng.healthman.pojo.ptdo.PtSubgroup">
        <!--@mbg.generated-->
        update pt_subgroup
        set grp_name           = #{grpName},
            grp_desp           = #{grpDesp},
            grp_created        = #{grpCreated},
            grp_created_tea_id = #{grpCreatedTeaId},
            grp_modified       = #{grpModified}
        where grp_id = #{grpId}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update pt_subgroup
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="grp_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when grp_id = #{item.grpId} then #{item.grpName}
                </foreach>
            </trim>
            <trim prefix="grp_desp = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when grp_id = #{item.grpId} then #{item.grpDesp}
                </foreach>
            </trim>
            <trim prefix="grp_created = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when grp_id = #{item.grpId} then #{item.grpCreated}
                </foreach>
            </trim>
            <trim prefix="grp_created_tea_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when grp_id = #{item.grpId} then #{item.grpCreatedTeaId}
                </foreach>
            </trim>
            <trim prefix="grp_modified = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when grp_id = #{item.grpId} then #{item.grpModified}
                </foreach>
            </trim>
        </trim>
        where grp_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.grpId}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update pt_subgroup
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="grp_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.grpName != null">
                        when grp_id = #{item.grpId} then #{item.grpName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="grp_desp = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.grpDesp != null">
                        when grp_id = #{item.grpId} then #{item.grpDesp}
                    </if>
                </foreach>
            </trim>
            <trim prefix="grp_created = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.grpCreated != null">
                        when grp_id = #{item.grpId} then #{item.grpCreated}
                    </if>
                </foreach>
            </trim>
            <trim prefix="grp_created_tea_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.grpCreatedTeaId != null">
                        when grp_id = #{item.grpId} then #{item.grpCreatedTeaId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="grp_modified = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.grpModified != null">
                        when grp_id = #{item.grpId} then #{item.grpModified}
                    </if>
                </foreach>
            </trim>
        </trim>
        where grp_id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.grpId}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="grp_id" keyProperty="grpId" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_subgroup
            (grp_name, grp_desp, grp_created, grp_created_tea_id, grp_modified)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.grpName}, #{item.grpDesp}, #{item.grpCreated}, #{item.grpCreatedTeaId}, #{item.grpModified})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="grp_id" keyProperty="grpId"
            parameterType="com.rufeng.healthman.pojo.ptdo.PtSubgroup" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_subgroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grpId != null">
                grp_id,
            </if>
            grp_name,
            grp_desp,
            grp_created,
            grp_created_tea_id,
            grp_modified,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grpId != null">
                #{grpId},
            </if>
            #{grpName},
            #{grpDesp},
            #{grpCreated},
            #{grpCreatedTeaId},
            #{grpModified},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="grpId != null">
                grp_id = #{grpId},
            </if>
            grp_name           = #{grpName},
            grp_desp           = #{grpDesp},
            grp_created        = #{grpCreated},
            grp_created_tea_id = #{grpCreatedTeaId},
            grp_modified       = #{grpModified},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="grp_id" keyProperty="grpId"
            parameterType="com.rufeng.healthman.pojo.ptdo.PtSubgroup" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pt_subgroup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grpId != null">
                grp_id,
            </if>
            <if test="grpName != null">
                grp_name,
            </if>
            <if test="grpDesp != null">
                grp_desp,
            </if>
            <if test="grpCreated != null">
                grp_created,
            </if>
            <if test="grpCreatedTeaId != null">
                grp_created_tea_id,
            </if>
            <if test="grpModified != null">
                grp_modified,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grpId != null">
                #{grpId},
            </if>
            <if test="grpName != null">
                #{grpName},
            </if>
            <if test="grpDesp != null">
                #{grpDesp},
            </if>
            <if test="grpCreated != null">
                #{grpCreated},
            </if>
            <if test="grpCreatedTeaId != null">
                #{grpCreatedTeaId},
            </if>
            <if test="grpModified != null">
                #{grpModified},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="grpId != null">
                grp_id = #{grpId},
            </if>
            <if test="grpName != null">
                grp_name = #{grpName},
            </if>
            <if test="grpDesp != null">
                grp_desp = #{grpDesp},
            </if>
            <if test="grpCreated != null">
                grp_created = #{grpCreated},
            </if>
            <if test="grpCreatedTeaId != null">
                grp_created_tea_id = #{grpCreatedTeaId},
            </if>
            <if test="grpModified != null">
                grp_modified = #{grpModified},
            </if>
        </trim>
    </insert>

    <select id="listSubGroup" resultMap="BaseResultMap">
        SELECT grp_id, grp_name, grp_desp, grp_created, grp_created_tea_id, grp_modified
        FROM (SELECT grp_id
              FROM pt_subgroup
              WHERE grp_created_tea_id = #{teaId}
              UNION ALL
              SELECT grp_id
              FROM pt_sub_group_share
              WHERE tea_id = #{teaId}) grps
                 NATURAL JOIN pt_subgroup
    </select>
    <select id="pageSubGroup" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pt_subgroup
        <where>
            <if test="query.grpName != null">
                <bind name="grpName" value="'%' + query.grpName + '%'"/>
                grp_name like #{grpName}
            </if>
            <if test="query.teaId != null">
                AND grp_created_tea_id = #{query.teaId}
            </if>
        </where>
    </select>

    <select id="mapGrpIdGrpNameByIds" resultType="java.util.Map">
        SELECT grp_id, grp_name
        FROM pt_subgroup
        <where>
            <foreach close=")" collection="list" item="item" open="grp_id IN (" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="pageAllSubGroup" resultType="com.rufeng.healthman.pojo.dto.subgroup.SubGroupInfo">
        SELECT share_time, grp_id, grp_name, grp_desp, grp_created, grp_created_tea_id, grp_modified
        FROM (SELECT grp_id, NULL as share_time
              FROM pt_subgroup
              WHERE grp_created_tea_id = #{query.teaId}
              UNION ALL
              SELECT grp_id, share_time
              FROM pt_sub_group_share
              WHERE tea_id = #{query.teaId}) grps
                 NATURAL JOIN pt_subgroup

        <where>
            <if test="query.grpName != null">
                <bind name="grpName" value="'%' + query.grpName + '%'"/>
                    grp_name like
                    #{grpName}
            </if>
        </where>
    </select>
</mapper>