<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rufeng.healthman.mapper.PtTeacherRoleMapper">
  <resultMap id="BaseResultMap" type="com.rufeng.healthman.pojo.ptdo.PtTeacherRole">
    <!--@mbg.generated-->
    <!--@Table pt_teacher_role-->
    <id column="id" property="id" />
    <result column="tea_id" property="teaId" />
    <result column="role_id" property="roleId" />
    <result column="created" property="created" />
    <result column="modified" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tea_id, role_id, created, modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pt_teacher_role
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pt_teacher_role
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtTeacherRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_teacher_role (tea_id, role_id, created, modified)
    values (#{teaId}, #{roleId}, #{created}, #{modified})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtTeacherRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_teacher_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teaId != null">
        tea_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modified != null">
        modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teaId != null">
        #{teaId},
      </if>
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="created != null">
        #{created},
      </if>
      <if test="modified != null">
        #{modified},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rufeng.healthman.pojo.ptdo.PtTeacherRole">
    <!--@mbg.generated-->
    update pt_teacher_role
    <set>
      <if test="teaId != null">
        tea_id = #{teaId},
      </if>
      <if test="roleId != null">
        role_id = #{roleId},
      </if>
      <if test="created != null">
        created = #{created},
      </if>
      <if test="modified != null">
        modified = #{modified},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rufeng.healthman.pojo.ptdo.PtTeacherRole">
    <!--@mbg.generated-->
    update pt_teacher_role
    set tea_id = #{teaId},
      role_id = #{roleId},
      created = #{created},
      modified = #{modified}
    where id = #{id}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pt_teacher_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tea_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.teaId}
        </foreach>
      </trim>
      <trim prefix="role_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.roleId}
        </foreach>
      </trim>
      <trim prefix="created = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.created}
        </foreach>
      </trim>
      <trim prefix="modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.modified}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pt_teacher_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tea_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.teaId != null">
            when id = #{item.id} then #{item.teaId}
          </if>
        </foreach>
      </trim>
      <trim prefix="role_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.roleId != null">
            when id = #{item.id} then #{item.roleId}
          </if>
        </foreach>
      </trim>
      <trim prefix="created = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.created != null">
            when id = #{item.id} then #{item.created}
          </if>
        </foreach>
      </trim>
      <trim prefix="modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.modified != null">
            when id = #{item.id} then #{item.modified}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_teacher_role
    (tea_id, role_id, created, modified)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.teaId}, #{item.roleId}, #{item.created}, #{item.modified})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtTeacherRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_teacher_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      tea_id,
      role_id,
      created,
      modified,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      #{teaId},
      #{roleId},
      #{created},
      #{modified},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      tea_id = #{teaId},
      role_id = #{roleId},
      created = #{created},
      modified = #{modified},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.rufeng.healthman.pojo.ptdo.PtTeacherRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pt_teacher_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teaId != null">
        tea_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modified != null">
        modified,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="teaId != null">
        #{teaId},
      </if>
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="created != null">
        #{created},
      </if>
      <if test="modified != null">
        #{modified},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="teaId != null">
        tea_id = #{teaId},
      </if>
      <if test="roleId != null">
        role_id = #{roleId},
      </if>
      <if test="created != null">
        created = #{created},
      </if>
      <if test="modified != null">
        modified = #{modified},
      </if>
    </trim>
  </insert>

    <insert id="batchInsertSelective">
        INSERT INTO pt_teacher_role (`tea_id`, `role_id`, `target_id`) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.teaId}, #{item.roleId}, #{item.targetId})
        </foreach>
    </insert>

    <select id="listByTeaId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM pt_teacher_role WHERE tea_id = #{teaId}
    </select>
</mapper>